/* .poster {
	height: 50px;
} */
nz-checkbox-wrapper div div {
	margin-right: 5px;
}

nz-date-picker {
	width: 300px;
}

nz-input-group {
	margin-left: 30px;
}

.sticky_header {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	padding: 10px 0;
	z-index: 1;
	background-color: white;
}

.behind_slider {
	z-index: 2;
}

.typeRadio {
	margin-top: 5px;
}

nz-checkbox-wrapper {
	margin-top: 5px;
}

nz-radio-group label {
	margin-right: 5px;
}
