<nz-layout class="app-layout">
	<nz-sider
		class="menu-sidebar"
		nzCollapsible
		nzWidth="256px"
		nzBreakpoint="md"
		[(nzCollapsed)]="isCollapsed"
		[nzTrigger]="null"
	>
		<div class="sidebar-logo">
			<a>
				<img class="logo" src="../assets/images/logo.png" alt="logo" />
				<h1>GE'EZ Movie Gallery</h1>
			</a>
		</div>
		<ul
			nz-menu
			nzTheme="dark"
			nzMode="inline"
			[nzInlineCollapsed]="isCollapsed"
		>
			<!-- <li
				nz-submenu
				routerLink="movie_list"
				nzTitle="Update(በቅርቡ የገቡ)"
				nzIcon="dashboard"
			></li> -->
			<li
				routerLink="movie_list"
				routerLinkActive="ant-menu-item ant-menu-item-selected"
				nz-submenu
				nzTitle="Movie List(የፊልም ዝርዝር)"
				nzIcon="unordered-list"
			></li>
			<!-- <li nz-submenu nzTitle="English(እንግሊዘኛ)" nzIcon="dashboard">
				<ul>
					<li nz-menu-item nzMatchRouter (click)="basicFilter('ENM')">
						<a>Movie(ወጥ የሆነ)</a>
					</li>
					<li nz-menu-item nzMatchRouter (click)="basicFilter('ENS')">
						<a>Series(ተከታታይ)</a>
					</li>
				</ul>
			</li>
			<li nz-submenu nzTitle="Amharic(አማርኛ)" nzIcon="dashboard">
				<ul>
					<ul>
						<li nz-menu-item nzMatchRouter (click)="basicFilter('ETM')">
							<a>Movie(ወጥ የሆነ)</a>
						</li>
						<li nz-menu-item nzMatchRouter (click)="basicFilter('ETS')">
							<a>Series(ተከታታይ)</a>
						</li>
					</ul>
				</ul>
			</li>
			<li nz-submenu nzTitle="Korean(የኮርያ)" nzIcon="dashboard">
				<ul>
					<ul>
						<li nz-menu-item nzMatchRouter (click)="basicFilter('KRM')">
							<a>Movie(ወጥ የሆነ)</a>
						</li>
						<li nz-menu-item nzMatchRouter (click)="basicFilter('KRS')">
							<a>Series(ተከታታይ)</a>
						</li>
					</ul>
				</ul>
			</li> -->
			<!-- <li nz-submenu nzTitle="Indian(የህንድ)" nzIcon="dashboard">
				<ul>
					<li nz-menu-item nzMatchRouter (click)="basicFilter('INM')">
						<a>Movie(ወጥ የሆነ)</a>
					</li>
					<li nz-menu-item nzMatchRouter (click)="basicFilter('INS')">
						<a>Series(ተከታታይ)</a>
					</li>
				</ul>
			</li> -->

			<li
				routerLink="movie_add"
				routerLinkActive="ant-menu-item ant-menu-item-selected"
				nz-submenu
				nzTitle="Add Movie"
				nzIcon="video-camera-add"
				*ngIf="loginStatus"
			>
				<!-- <ul>
					<li nz-menu-item nzMatchRouter>
						<a>Basic Form</a>
					</li>
				</ul> -->
				<!-- </li> -->
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header>
			<div class="app-header">
				<span class="header-trigger" (click)="isCollapsed = !isCollapsed">
					<i
						class="trigger"
						nz-icon
						[nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
					></i>
				</span>
				<button
					*ngIf="loginStatus"
					nz-button
					nzTooltipTitle="Refresh Movies List"
					nzTooltipPlacement="bottom"
					nz-tooltip
					nzType="primary"
					nzShape="circle"
					nz-popconfirm
					nzPopconfirmTitle="Are you sure delete this Movie?"
					nzPopconfirmPlacement="bottom"
					(nzOnConfirm)="setMovies()"
				>
					<i nz-icon nzType="reload"></i>
				</button>
				<button
					*ngIf="!loginStatus"
					class="log_btn"
					nz-button
					nzTooltipTitle="Login Button"
					nzTooltipPlacement="bottom"
					nz-tooltip
					nzType="primary"
					nzShape="circle"
					(click)="showModal()"
				>
					<i nz-icon nzType="login"></i>
				</button>
				<button
					*ngIf="loginStatus"
					class="log_btn"
					nz-button
					nzTooltipTitle="Logout Button"
					nzTooltipPlacement="bottom"
					nz-tooltip
					nzType="primary"
					nzShape="circle"
					(click)="logout()"
					nzDanger
				>
					<i nz-icon nzType="logout"></i>
				</button>
				<button
					*ngIf="loginStatus"
					class="log_btn"
					nz-button
					nzTooltipTitle="Add My List To Firebase"
					nzTooltipPlacement="bottom"
					nz-tooltip
					nzType="primary"
					nzShape="circle"
					(click)="saveMyList()"
				>
					<i nz-icon nzType="plus"></i>
				</button>
				<button
					*ngIf="loginStatus"
					class="log_btn"
					nz-button
					nzTooltipTitle="Delete Duplicate"
					nzTooltipPlacement="bottom"
					nz-tooltip
					nzType="primary"
					nzShape="circle"
					(click)="deleteDuplicate()"
				>
					<i nz-icon nzType="delete"></i>
				</button>
			</div>
		</nz-header>
		<nz-content>
			<div class="inner-content">
				<router-outlet></router-outlet>
				<!-- <app-film-list></app-film-list> -->
			</div>
		</nz-content>
	</nz-layout>
</nz-layout>

<form nz-form [formGroup]="validateForm" class="login-form">
	<nz-modal
		[(nzVisible)]="isVisible"
		nzTitle="Login Form"
		(nzOnCancel)="handleCancel()"
		(nzOnOk)="handleOk()"
		[nzOkLoading]="isOkLoading"
	>
		<nz-form-item>
			<nz-form-control nzErrorTip="Please input your Logging Pin!">
				<nz-input-group nzPrefixIcon="key">
					<input
						type="password"
						nz-input
						formControlName="pin"
						placeholder="pin number"
					/>
				</nz-input-group>
			</nz-form-control>
		</nz-form-item>
	</nz-modal>
</form>
